<header class="main-header">
  <h1 class="logo"><a href="/jobque/main">JobQ</a></h1>
  <div class="user-info">
    <span><%= session ? session.name : '' %>님</span>
    <a href="/jobque/logout" class="logout-link">로그아웃</a>
  </div>
</header>
